.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-list-item--done {
  text-decoration: line-through;
}

.todo-list-item__text {
  font-size: 17px;
  font-weight: bold;
  font-family: "Abyssinica SIL";
}

.todo-list-item__buttons button:first-child {
  margin-right: 10px;
}
